.error{
    background-color: black;
    height: 90vh;
    display: flex;
    flex-direction: column;
    color:  white;
    align-items: center;
    justify-content: center;
}


.error a{

    background-color:  #2E95D3;
    color: white;
    padding: 5px 20px;

}