.error{
    background-color: black;
    height: 90vh;
    display: flex;
    flex-direction: column;
    color:  white;
    align-items: center;
    justify-content: center;
}


.error a{

    background-color:  #2E95D3;
    color: white;
    padding: 6px 24px;
    font-size: 18px;

}

.error h1{

    margin: 0px;
    padding: 0px;
    font-size: 100px;

}

.error p{
    margin: 0px;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 400;

}